<h1>SALUT</h1>

<form>
  {{input value=model.nom placeholder="Nom"}}
  {{input value=model.prenom placeholder="Prénom"}}
  {{input value=model.email placeholder="Email"}}
  <button {{action "updateContact" model}} class="btn btn-success">
    valider
  </button>
</form>
{{outlet}}
