{{outlet}}


<ul class="list-group">
{{#each model.services as |service|}}
  <li class="{{if service.active 'active'}} list-group-item" {{action "toggleActive" service}}> {{service.name}} {{service.price}}</li>
{{/each}}
</ul>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <div class="input-group-text">
      {{input checked=model.checkCode type="checkbox" aria-label="Checkbox for following text input"}}
    </div>
  </div>
  {{input class="form-control" value=model.codePromo aria-label="Text input with checkbox"}}
</div>

<div>{{pluralize model.countActive "Aucun service sélectionné" "service sélectionné" "services sélectionnés"}} : </div>
<div>Montant total : {{model.sumActive}}</div>
<div>Taux de Réduction : {{model.txReduction}}</div>
<div>Montant Total : {{model.montantTotal}}</div>